USE [BankenSystem]
GO
/****** Object:  Trigger [dbo].[TR_Kredite_UpdateStatus]    Script Date: 08.04.2026 13:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
ALTER TRIGGER [dbo].[TR_Kredite_UpdateStatus]
ON [dbo].[Kredite]
AFTER UPDATE
AS
BEGIN
    -- Verhindert die Rückgabe von Nachrichten über die Anzahl der betroffenen Zeilen
    SET NOCOUNT ON;

    -- Überprüfen, ob die Spalte RestSaldo aktualisiert wurde
    IF UPDATE(RestSaldo)
    BEGIN
        -- Aktualisiert den KreditStatusID auf 6 (Abgeschlossen), 
        -- wenn der RestSaldo den Wert 0.00 erreicht hat
        UPDATE Kredite
        SET KreditStatusID = 6
        FROM Kredite
        INNER JOIN inserted i ON Kredite.KreditID = i.KreditID
        WHERE i.RestSaldo = 0.00 AND Kredite.KreditStatusID <> 6;
        
        /* 
           Hinweis: 
           KreditStatusID 6 entspricht in der Regel dem Status 'Vollständig zurückgezahlt' 
           oder 'Abgeschlossen' im System.
        */
    END
END;

